body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #fafafa;
}

/* HEADER */
.header {
  background: linear-gradient(135deg, #3d0f3d, #0b0edb);
  color: white;
  padding: 40px 60px;
}

.header h1 {
  margin: 0;
}

.header p {
  opacity: 0.9;
}

/* MAIN */
.container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 20px;
}

/* TOP BAR */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  background: linear-gradient(135deg, #3d0f3d, #0b0edb);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

/* FILTERS */
.filters {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.filters input,
.filters select {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* EMPTY */
.empty {
  text-align: center;
  margin-top: 80px;
  color: #777;
}

.empty p {
  font-size: 20px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background:#0b0edb;
  color: white;
  padding: 12px;
}

td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: center;
}


/* MODAL */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fffdf7;
  width: 400px;
  padding: 25px;
  border-radius: 12px;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.modal h3 {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 13px;
  color: #777;
  margin-bottom: 15px;
}

.modal label {
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

.modal input,
.modal select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.submit-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #3d0f3d, #0b0edb);;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}